

<md-toolbar>
    <div class="md-toolbar-tools">
        <a href back-button style="margin-right: 10px;"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <h2><span>SeyService</span></h2>
    </div>
</md-toolbar>

<md-subheader class="md-no-sticky">Vistoria <strong>{{nome}}</strong> ID: {{id}}</md-subheader>

<md-list-item ng-repeat="person in itensVistoriados" ng-click="" class="noright">
<md-card class="_md">
	<img ng-src="https://unsplash.it/300/200/?random" class="md-card-image" alt="Teste 1" src="https://unsplash.it/300/200/?random">
    <!-- Imagem antiga: https://material.angularjs.org/latest/img/washedout.png -->
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" style="font-size: 13px;" style="text-align:center !important;">
                <strong style="text-align:center !important;">{{person.dados.item_aprovado | iif : "APROVADO" : "NÃO APROVADO"}}</strong>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center" class="layout-align-center center layout-row">
        <md-button ng-click="verVistoria(id)" sclass="md-raised md-primary">Ver</md-button>
        <md-button ng-click="showAdvanced2($event,person.id)" sclass="md-raised md-primary">Ver2</md-button>
        
        <!--<md-button ng-click="deletarVistoria(id)" sclass="md-raised md-primary">Deletar</md-button>-->
	</md-card-actions>
</md-card>
</md-list-item>


<!--<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdvanced($event)" style="background-color: #1364b4;">
    <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
</md-button>-->
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdvanced($event)" style="background-color: #1364b4; position: fixed !important;">
    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
</md-button> 

<script type="text/ng-template" id="formulario-vistoria.tmpl.html">
<md-dialog class="fullscreen-dialog" aria-label="Form">
<md-toolbar>
<div class="md-toolbar-tools">
  <md-button aria-label="fechaDialog" class="md-icon-button" ng-click="cancel()">
    <md-icon md-font-set="fa" class="fa-times fa-2x"></md-icon>
  </md-button>
  <h2 flex="flex">Adicionar vistoria</h2>
</div>
</md-toolbar>
<md-content layout-padding="">
<div>
  <form id="itemForm" name="itemForm">
      
	  <md-input-container class="md-block" flex-gt-sm="" required>
		<label>Item</label>
		<md-select name="item" ng-model="item.nome">
		  <md-option value="{{valor}}" ng-repeat="(valor,nome) in tiposVistorias">{{nome}}</md-option>
		</md-select>
	  </md-input-container>
      
      <pre>Dados captados:</pre>
      <pre>item = {{item | json}}</pre>
      <!-- FORMULÁRIO 1 -->
      <!-- Linga de corrente (NR-11/NBR 15516 1 e 2/NBR ISO 3076/NBR ISO 1834) -->
	  <md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
		<label>Comprimento:</label>
		<input ng-model="item.comprimento" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='linc'" class="md-block" required>
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
		
	  <md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
		<label>Ramais</label>
		<md-select ng-model="item.ramal">
		  <md-option value="1">Ramal 1</md-option>
		  <md-option value="2">Ramal 2</md-option>
		  <md-option value="3">Ramal 3</md-option>
		  <md-option value="4">Ramal 4</md-option>
		</md-select>
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.danos_olhais" aria-label="Switch 1" required>
	<label>Danos nos olhais:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.danos_costura_corpo" aria-label="Switch 1" required>
	<label>Danos costura do corpo:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.danos_costura_principal" aria-label="Switch 1" required>
	<label>Danos costura principal:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.cortes" aria-label="Switch 1" required>
	<label>Cortes:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.abrasao" aria-label="Switch 1" required>
	<label>Abrasão:</label>
	</md-switch>

	<md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
	<label>Elemento inicial:</label>
	<input ng-model="item.elemento_inicial" />
	</md-input-container>

	<md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
	<label>Elemento de ligação:</label>
	<input ng-model="item.elemento_de_ligacao" />
	</md-input-container>

	<md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
	<label>Elemento final:</label>
	<input ng-model="item.elemento_final" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.etiqueta_identificacao" aria-label="Switch 1" required>
	<label>Etiqueta de identificação:</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='linc'" class="md-block" required>
	  <label>Observação</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='linc'" class="md-block" flex-gt-sm="" required>
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='linc'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1" required>
	<label>APROVADO?</label>
	</md-switch>


      
    <!-- FORMULÁRIO 2 -->
    <!-- Eslingas, cintas planas e tubulares. (NR-11 NBR 15637 1 e 2) -->
	  <md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
		<label>Comprimento:</label>
		<input ng-model="item.comprimento" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='ectu'" class="md-block">
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>
		
	  <md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
		<label>Ramais</label>
		<md-select ng-model="item.ramal">
		  <md-option value="1">Ramal 1</md-option>
		  <md-option value="2">Ramal 2</md-option>
		  <md-option value="3">Ramal 3</md-option>
		  <md-option value="4">Ramal 4</md-option>
		</md-select>
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.danos_olhais" aria-label="Switch 1">
	<label>Danos nos olhais:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.danos_costura_corpo" aria-label="Switch 1">
	<label>Danos costura do corpo:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.danos_costura_principal" aria-label="Switch 1">
	<label>Danos costura principal:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.cortes" aria-label="Switch 1">
	<label>Cortes:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.abrasao" aria-label="Switch 1">
	<label>Abrasão:</label>
	</md-switch>

	<md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
	<label>Elemento inicial:</label>
	<input ng-model="item.elemento_inicial" />
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
	<label>Elemento de ligação:</label>
	<input ng-model="item.elemento_de_ligacao" />
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
	<label>Elemento final:</label>
	<input ng-model="item.elemento_final" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.etiqueta_identificacao" aria-label="Switch 1">
	<label>Etiqueta de identificação:</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='ectu'" class="md-block">
	  <label>Observação</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu'" class="md-block" flex-gt-sm="">
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1">
	<label>APROVADO?</label>
	</md-switch>



      
    <!-- FORMULÁRIO 3 -->
    <!-- Acessórios  (Ganchos, Cadeados, olhais, Manilhas) (NR-11/NBR 13545/NBR 16798) -->
	  <md-input-container ng-show="item.nome=='ectu3'" class="md-block" flex-gt-sm="">
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='ectu3'" class="md-block">
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu3'" class="md-block" flex-gt-sm="">
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu3'" md-invert="" ng-model="item.identificacao" aria-label="Switch 1">
	<label>Identificação:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu3'" md-invert="" ng-model="item.deformacao" aria-label="Switch 1">
	<label>Deformação:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu3'" md-invert="" ng-model="item.alongamento" aria-label="Switch 1">
	<label>Alongamento:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu3'" md-invert="" ng-model="item.travas" aria-label="Switch 1">
	<label>Travas:</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='ectu3'" class="md-block">
	  <label>Observação</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu3'" class="md-block" flex-gt-sm="">
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu3'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1">
	<label>APROVADO?</label>
	</md-switch>




      
    <!-- FORMULÁRIO 4 -->
    <!-- Garras de elevação  (NR-11) -->
	  <md-input-container ng-show="item.nome=='ectu4'" class="md-block" flex-gt-sm="">
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='ectu4'" class="md-block">
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu4'" class="md-block" flex-gt-sm="">
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu4'" md-invert="" ng-model="item.deformacao" aria-label="Switch 1">
	<label>Deformação:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu4'" md-invert="" ng-model="item.carne_danificado" aria-label="Switch 1">
	<label>Carne Danificado:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu4'" md-invert="" ng-model="item.olhal_danificado" aria-label="Switch 1">
	<label>Olhal Danificado:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu4'" md-invert="" ng-model="item.trava_danificado" aria-label="Switch 1">
	<label>Trava Danificado:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu4'" md-invert="" ng-model="item.pinos_danificado" aria-label="Switch 1">
	<label>Pinos Danificado:</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='ectu4'" class="md-block">
	  <label>Observação:</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu4'" class="md-block" flex-gt-sm="">
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu4'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1">
	<label>APROVADO?</label>
	</md-switch>




      
    <!-- FORMULÁRIO 5 -->
    <!-- Levantador magnético  (NR 11) -->
	  <md-input-container ng-show="item.nome=='ectu5'" class="md-block" flex-gt-sm="">
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='ectu5'" class="md-block">
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu5'" class="md-block" flex-gt-sm="">
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu5'" md-invert="" ng-model="item.olhal_danificado" aria-label="Switch 1">
	<label>Olhal Danificado?</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu5'" md-invert="" ng-model="item.exrt_ext_danificada" aria-label="Switch 1">
	<label>Estrutura Externa Danf?:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu5'" md-invert="" ng-model="item.alavanca_danificada" aria-label="Switch 1">
	<label>Alavanca Danificada?</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu5'" md-invert="" ng-model="item.base_inferior_danificada" aria-label="Switch 1">
	<label>Base Inferior Danf?</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='ectu5'" class="md-block">
	  <label>Observação</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu5'" class="md-block" flex-gt-sm="">
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu5'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1">
	<label>APROVADO?</label>
	</md-switch>




      
    <!-- FORMULÁRIO 6 -->
    <!-- Dispositivos Especiais: (NR 11) -->
	  <md-input-container ng-show="item.nome=='ectu6'" class="md-block" flex-gt-sm="">
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='ectu6'" class="md-block">
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu6'" class="md-block" flex-gt-sm="">
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu6'" md-invert="" ng-model="item.desenho_tecnico" aria-label="Switch 1">
	<label>Desenho Técnico?</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu6'" md-invert="" ng-model="item.medidas_batem_com_desenho" aria-label="Switch 1">
	<label>Medidas batem com desenho??:</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu6'" md-invert="" ng-model="item.deformacoes" aria-label="Switch 1">
	<label>Deformações?</label>
	</md-switch>
	  
	<md-switch ng-show="item.nome=='ectu6'" md-invert="" ng-model="item.olhal_em_bom_estado" aria-label="Switch 1">
	<label>Olhal em bom estado?</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='ectu6'" class="md-block">
	  <label>Observação</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu6'" class="md-block" flex-gt-sm="">
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu6'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1">
	<label>APROVADO?</label>
	</md-switch>



      
    <!-- FORMULÁRIO 7 -->
    <!-- Lingas e Laços de cabos de aço -->
	  <md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
		<label>Setor:</label>
		<input ng-model="item.setor" />
	  </md-input-container>
	
		<md-input-container ng-show="item.nome=='ectu7'" class="md-block">
          <label>Descrição</label>
          <textarea ng-model="item.descricao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
        </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
		<label>Capacidade:</label>
		<input ng-model="item.capacidade" />
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
		<label>Comprimento:</label>
		<input ng-model="item.comprimento" />
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
		<label>Diametro:</label>
		<input ng-model="item.diametro" />
	  </md-input-container>

	  <md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
		<label>Ramais</label>
		<md-select ng-model="item.ramal">
		  <md-option value="1">Ramal 1</md-option>
		  <md-option value="2">Ramal 2</md-option>
		  <md-option value="3">Ramal 3</md-option>
		  <md-option value="4">Ramal 4</md-option>
		</md-select>
	  </md-input-container>

	<md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
	<label>Elemento inicial:</label>
	<input ng-model="item.elemento_inicial" />
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
	<label>Elemento de ligação:</label>
	<input ng-model="item.elemento_de_ligacao" />
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
	<label>Elemento final:</label>
	<input ng-model="item.elemento_final" />
	</md-input-container>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.identificacao_de_carga_legivel" aria-label="Switch 1">
	<label>Ident. de carga Legível?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.arames_rompidos" aria-label="Switch 1">
	<label>Arames rompidos?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.rupturas_de_pernas" aria-label="Switch 1">
	<label>Rupturas de pernas?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.amassados" aria-label="Switch 1">
	<label>Amassados?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.deformacao" aria-label="Switch 1">
	<label>Deformação?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.desgastes_excessivos" aria-label="Switch 1">
	<label>Desgastes excessivos?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.danos_por_calor" aria-label="Switch 1">
	<label>Danos por calor?</label>
	</md-switch>
	
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.reducao_de_elasticidade" aria-label="Switch 1">
	<label>Redução de elasticidade?</label>
	</md-switch>
	
	<md-input-container ng-show="item.nome=='ectu7'" class="md-block">
	  <label>Observação</label>
	  <textarea ng-model="item.observacao" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
	</md-input-container>

	<md-input-container ng-show="item.nome=='ectu7'" class="md-block" flex-gt-sm="">
	<label>Placa de rastreabilidade Seyconel:</label>
	<input ng-model="item.placa_rastreabilidade_seyconel" />
	</md-input-container>
	  
	<md-switch ng-show="item.nome=='ectu7'" md-invert="" ng-model="item.item_aprovado" aria-label="Switch 1">
	<label>APROVADO?</label>
	</md-switch>

    <button camera ng-model='myPicture'>Tire fotos</button>
    <br/>

    <img ng-repeat="onepic in myPictures" style="width:25%;height:20%;" id="smallImage" src="{{ ('data:image/jpeg;base64,'+onepic)}}" />

	
  </form>
</div>
</md-content>

   <md-dialog-actions layout="row">
      <span flex></span> 
      <md-button ng-click="cancel()"> Cancel </md-button>
      <md-button ng-click="addItem(itemForm)" class="md-primary"> Save </md-button>
   </md-dialog-actions>
</md-dialog>
</script>
