<md-toolbar style="position: fixed !important;">
    <div class="md-toolbar-tools">
        <!--<a href back-button style="margin-right: 10px;">Voltar</a>-->
        <md-button><i back-button class="material-icons">keyboard_arrow_left</i></md-button>
        <h2><span>SeyService</span></h2>
    </div>
</md-toolbar>

<br />
<br />
<br />
<br />
<md-subheader class="md-no-sticky">Todos as vistorias: <strong>{{nome}}</strong> ID: {{id}}</md-subheader>

<md-list-item ng-repeat="person in vistorias" ng-click="verVistoria(person.id)" class="noright">
    <p>{{ person.nome }}</p>
    <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
    <!--<md-icon class="md-secondary" ng-click="verDadosVistorias(person.id)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
    <!--<md-icon confirmed-click="deletarVistoria(vistoria.id);" ng-confirm-click="Você quer deletar este item?" class="md-secondary" ng-click="deletarCliente(person.id)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
    <!--<md-icon confirmed-click="deletarVistoria2(vistoria.id);" ng-confirm-click="Você quer deletar este item?" class="md-secondary" ng-click="deletarCliente(person.id)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
    <!--<md-button ng-click="deletarVistoria(person.id)">Deletar</md-button>-->
    <md-button><i style="color: #555 !important;" ng-click="deletarVistoria(person.id)" class="material-icons">delete</i></md-button>
</md-list-item> 

<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdvanced($event)" style="background-color: #1364b4; position: fixed !important;">
        <i class="material-icons">add</i>
</md-button>


<script type="text/ng-template" id="formulario-add-vistoria.tmpl.html">
<md-dialog class="fullscreen-dialog" aria-label="Form">
<md-toolbar>
<div class="md-toolbar-tools">
    <md-button><i ng-click="cancel()" class="material-icons">keyboard_arrow_left</i></md-button>
  <h2 flex="flex">Adicionar vistoria</h2>
</div>
</md-toolbar>
<md-content layout-padding="">
<div>
{{resultadoAdicionar}}
  <form name="userForm">
	  <md-input-container class="md-block" flex-gt-sm="">
		<label>Nome da vistoria</label>
		<input ng-model="nomeVistoria">
	  </md-input-container>
  </form>
</div>
<md-dialog-actions layout="row">
    <span flex></span> 
    <md-button style="width: 50% !important;" ng-click="cancel()"> Cancelar </md-button>
    <md-button style="width: 50% !important;" ng-click="addVistoria(nomeVistoria)" class="md-primary"> Adicionar </md-button>
</md-dialog-actions>
</md-content>

<!--<md-dialog-actions layout="row">
  <span flex></span> 
  <md-button style="width: 50% !important;" ng-click="cancel()"> Cancelar </md-button>
  <md-button style="width: 50% !important;" ng-click="addVistoria(nomeVistoria)" class="md-primary"> Adicionar </md-button>
</md-dialog-actions>-->
</md-dialog>
</script>