.bar.bar-nav {
    background-color: #ffffffb3;
    border: none !important;
}
.input-group {
    background-color: #ffffffb3 !important;
    border: none !important;
}
.input-row {
    border: none;
}   
.input-group {
    margin-bottom: 10px;
}   
.content {
    background:url('http://127.0.0.1:57891/www/imagens/background-login-page.jpeg'); 
    background-size:cover;
}