<section class="items">
	
	<header class="items-header">
		<div class="row">
			<div class="col-sm-9 col-xs-12">

				<form class="form-inline" name="shopList">
					<div class="form-actions">
						<div class="input-group">
							<!--<input type="text" class="form-control" ng-model="itemInput" placeholder="Nome do item" autofocus required />
							--><div class="input-group-btn">
								<button class="btn btn-info" type="submit" ng-click="addItem(itemInput); itemInput = null" ng-disabled="shopList.$invalid">
									<i class="fa fa-plus"></i>&nbsp; Adicionar nova vistoria
								</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div> 
	</header> 

	<fieldset class="items-list">
		<label class="items-list-item" ng-repeat="item in items">
			<span class="items-list-desc" ng-class="">{{item.cliente}} <span class="date"><br />[{{item.created_at | date:"d MMM"}}]</span></span> 
            <span class="date" style="float: right;"> [ 0 ]</span>
		</label>
	</fieldset>	

</section>