<section class="items">
	
	<header class="items-header">
		<div class="row">
			<div class="col-sm-9 col-xs-12">

				<form class="form-inline" name="shopList">
					<div class="form-actions">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="itemInput" placeholder="Nome do item" autofocus required />
							<div class="input-group-btn">
								<button class="btn btn-info" type="submit" ng-click="addItem(itemInput); itemInput = null" ng-disabled="shopList.$invalid">
									<i class="fa fa-plus"></i>&nbsp;
								</button>
							</div>
						</div>
					</div>
				</form>

			</div>
            {{ showName }}
			<div class="col-sm-3 hidden-xs">
				<input type="text" ng-model="filterItem" class="form-control" placeholder="Filtro" />
			</div>
		</div>
	</header> 

	<fieldset class="items-list">
		<label class="items-list-item" ng-repeat="item in items | filter : filterItem">
			<!--<input
			type="checkbox"
			value="{{item.STATUS}}"
			ng-checked="item.STATUS==2"
			ng-click="changeStatus(item.ID,item.STATUS,item.CLIENTE)"
			class="items-list-cb"/>
			<span class="items-list-mark"></span>-->
			<span class="items-list-desc" ng-class="{strike:item.STATUS==2}">{{item.CLIENTE}} <span class="date">[{{item.CREATED_AT | date:"d MMM"}}]</span></span> 
			<!--<a ng-click="deleteItem(item.ID)" class="pull-right red"><i class="fa fa-minus-circle"></i></a>-->
            <span class="date" style="float: right;"><!--<i class="fa fa-archive"></i>--> [ 0 ]</span>
		</label>
	</fieldset>	

</section>